.container{
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 40px;
}


